*{
  color: #fff !important;
}

.navbar{
  height: 70px;
  padding: 10px 20px;
}

.white{
  font-size: 11px;
  letter-spacing: 2px;
  background-color: white !important;
  color : #4765e6 !important;
  border-radius: 30px;
}

.right a{
  padding: 6px 12px;
  color: white;
  text-decoration: none;
}
a{
  text-transform: uppercase !important;
}

.navbar-brand{
  letter-spacing: 2px;
  font-size: 22px;
  margin-top: -5px;
  font-family: 'Dosis', sans-serif;
  text-transform:lowercase !important;
}

.nav li a{
  letter-spacing: 2px;
  font-size: 11px;
  margin-left: 22px;
}

a:hover{
  text-decoration: none;
}

.vidcontainer{
  position: relative;
  margin-top: 20px;
}
.nav li:hover{
  background-color:none !important;
}
.banner{
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  text-align: center;
  justify-content: flex-end;
  padding: 0px 50px;
}
.buttons{
  display: flex;
  flex-direction: row;
}

.buttont{
  display: flex;
  flex-direction: row;
  letter-spacing: 1px;
}

.icon-bar {
   background-color:#fff !important;
}

.play{
  position: absolute;
  top: 43%;
  left: 43%;
  border-radius: 50%;
  z-index: 100;
}

.buttons a{
  width: 200px;
  padding: 15px 15px !important;
  margin: 20px;
  text-decoration: none;
  color: white;
  background-color: green;
  border-radius: 30px;
}

.trans{
  padding: 10px 0px;
  border: 1px solid #35cefb;
  border-radius: 30px;
  margin : 20px;
  color: white;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
}

.botmenu{
  width: 100%;
  background-color: #4765e6 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

@media only screen and (max-width: 800px) {
  .buttons{
    flex-direction: column !important;
  }
  .video{
    width: 300px;
    height: 200px;
  }
}

.tt {
  background-color:transparent !important;
  text-transform: capitalize;
}

.tt:hover{
  border-bottom: 2px solid #35cefb;
}

.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000000;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video{
  width: 500px;
  height: 300px;
}

.green{
  font-size: 11px;
  letter-spacing: 2px;
  background-color: #4dcd92 !important;
  color : white !important;
  border-radius: 30px;
  padding: 8px 20px !important;
  margin-top: 5px;
}

.trans:hover{
  border: 1px solid darkblue;
  color: white;
}

.navbar-fixed-top.scrolled {
  background-color: #35cefb !important;
  transition: background-color 10ms linear;
}

.navbar-default .navbar-nav li a:hover,
 .navbar-default .navbar-nav > .active > a:hover,  {
       background-color: initial;
 }
.play{
  cursor: pointer;
}
 @media (max-width: 916px) {
   .buttont{
     flex-direction: column !important;
   }
   .trans{
     padding: 15px 0px;
     width: 300px;
     text-align: center;
   }
      .navbar-header {
          float: none;
      }
      .navbar-left,.navbar-right {
          float: none !important;
      }
      .navbar-toggle {
          display: block;
      }
      .navbar-collapse {
          border-top: 1px solid transparent;
          box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      }
      .navbar-fixed-top {
  		top: 0;
  		border-width: 0 0 1px;
  	}
      .navbar-collapse.collapse {
          display: none!important;
      }
      .navbar-nav {
          float: none!important;
  		margin-top: 7.5px;
  	}
  	.navbar-nav>li {
          float: none;
      }
      .navbar-nav>li>a {
          padding-top: 10px;
          padding-bottom: 10px;
      }
      .collapse.in{
    		display:block !important;
  	}
  }
