@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400|Dosis:600|Quicksand:300');

body {
  font-family: 'Comfortaa', cursive;
  background: -webkit-linear-gradient(#5389f8, #35cefb);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#5389f8, #35cefb);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#5389f8, #35cefb);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#5389f8, #35cefb);
  background-size: 100%;
}

.main-heading {

}

.second-heading {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 24px;
}

.blue-overlay{
  background-color: rgba(83,137,248,0.3);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero {
  letter-spacing: 1px;
  font-size: 40px !important;
  font-family: 'Dosis', sans-serif;
}

#particles-js {
  z-index: -2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
